In [ ]:
# Holden Cormier & Diego Messmacher 
# Predicting Financial Statements Using Machine Learning

In [ ]:
# Prediction Using Decision Trees

In [21]:
import numpy as np 
import pandas as pd 



data = pd.read_excel('./data/Test.xlsx')
data.head(16)

,Dates,DEC '22,DEC '21,DEC '20,DEC '19,DEC '18,DEC '17,DEC '16,DEC '15,DEC '14,...,DEC '10,DEC '09,DEC '08,DEC '07,DEC '06,DEC '05,DEC '04,DEC '03,DEC '02,DEC '01
0,Sales,280.875,257.488,182.350,161.402,136.958,111.024,89.733,73.590,65.830,...,29.118,23.325858,21.795550,16.593986,10.604917,6.138560,3.189223,1.465934,0.439508,0.086426
1,Cost of Goods Sold (COGS) incl. D&A,126.203,110.939,84.732,71.896,59.549,45.583,35.138,28.164,25.313,...,10.417,8.844115,8.621506,6.649085,4.225027,2.571509,1.457653,0.625854,0.131510,0.014228
2,Depreciation & Amortization Expense,15.928,12.441,13.697,11.781,9.035,6.915,6.144,5.063,4.602,...,1.396,1.524308,1.499887,0.967658,0.571939,0.293812,0.148473,0.050185,0.018030,0.010025
3,Gross Income,154.672,146.549,97.618,89.506,77.409,65.441,54.595,45.426,40.517,...,18.701,14.481743,13.174044,9.944901,6.379890,3.567051,1.731570,0.840080,0.307998,0.072198
4,SG&A Expense,81.791,67.984,56.571,54.033,45.878,36.390,31.418,27.465,23.814,...,8.523,6.494262,6.542075,4.860501,2.789094,1.437773,0.879035,0.497616,0.099897,0.048851
5,EBIT (Operating Income),72.881,78.565,41.047,35.473,31.531,29.051,23.177,17.961,16.703,...,10.178,7.987480,6.631970,5.084400,3.590800,2.039280,0.852540,0.342460,0.186460,0.010970
6,Nonoperating Income - Net,2.109,2.117,2.011,3.056,4.396,1.111,1.472,2.096,1.213,...,0.984,0.471373,0.316383,0.590785,0.461303,0.125178,0.010906,0.006123,0.001015,0.000861
7,Interest Expense,0.357,0.346,0.135,0.100,0.114,0.109,0.124,0.104,0.101,...,0.000,0.000000,0.000000,0.001203,0.000257,0.000776,0.000862,0.001931,0.002570,0.001758
8,Other Expense,3.305,-10.398,-5.159,-1.196,0.900,2.860,0.375,0.302,0.556,...,0.366,0.077668,1.094757,0.000000,0.040800,0.022000,0.212343,NaN,NaN,NaN
9,Pretax Income,71.328,90.734,48.082,39.625,34.913,27.193,24.150,19.651,17.259,...,10.796,8.381189,5.853596,5.673980,4.011040,2.141677,0.650234,0.346654,0.184915,0.010068